{% extends "health_base.html" %}

{% block title %}Health - Home{% endblock %}

{% block content %}

{% load static %}
    <div class="col-12 col-sm-12 col-md-6 mt-5 home bubble-bg text-center">
        <img src="{% static 'img/home/working.webp' %}" alt="Health" class="fadein"/>
    </div>
    <div class="col-12 col-sm-12 col-md-6 mt-5 home text-left centerHVflex flyin">
        <div>
            <h2>
                MANAGE AND SHARE YOUR HEALTH RECORDS
            </h2>
            <p>
                Your tool to create and manage health records.            
                Simply share records with your doctors.
            </p>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 mt-3 home text-left centerHVflex fadein">
        <div>
            <h2>
                SIMPLY CONNECT WITH YOUR DOCTORS
            </h2>
            <p>
                Every participating doctor can send you an invite link. After accepting the invite the doctor can add your account as a patient.
                From now on you can share records and your doctor can create records for you.
            </p>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 mt-3 home bubble-bg text-center fadein">
        <img src="{% static 'img/home/people.webp' %}" alt="Health"/>
    </div>

    <div class="col-12 col-sm-12 col-md-6 mt-3 home bubble-bg text-center fadein">
        <img src="{% static 'img/home/event.webp' %}" alt="Health"/>
    </div>
    <div class="col-12 col-sm-12 col-md-6 mt-3 home text-left centerHVflex fadein">
        <div>
            <h2>
                UNLIMITED FOLDERS AND RECORDS
            </h2>
            <p>
                Create multiple folders and records - for your family, different doctors, ...
            </p>
        </div>
    </div>

{% endblock %}